# Server
PORT=8001

# Upstream microservice URLs
VACANCY_MICROSERVICE_URL=http://localhost:8000
CV_MICROSERVICE_URL=http://localhost:8003
RANKING_MICROSERVICE_URL=http://localhost:8001
RAG_INDEX_MICROSERVICE_URL=http://localhost:8002
